.brandImage {
  width: auto;
  height: auto;
  max-height: 200px;
  max-width: 250px;
  object-fit: contain;
  display: block;

  // Medium screens (tablets)
  @media (max-width: 991px) {
    max-height: 100px;
    max-width: 150px;
  }

  // Small screens (mobile)
  @media (max-width: 575px) {
    max-height: 100px;
    max-width: 150px;
  }
}